
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::before, 
*::after {
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff
}

img {
    display: block;
    height: auto;
    border-radius: 15px;
}

body {
    margin: 0;
}

a {
    text-decoration: none; 
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
    padding: 0 40px;
}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    white-space: nowrap; 
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(100%);
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav__list { 
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    list-style-type: none;
    margin: 0 auto;
    margin-left: 200px;
    padding: 0;
    justify-content: space-between;
}

.nav__link {
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.nav__link:hover {
    opacity: 0.7; 
    border-bottom: 1px solid #ffffff;
}

.nav__link--logo:hover {
    border-bottom: none;
}

.header {
    padding: 30px;
}

.intro {
    
    margin-bottom: 70px;
}

.intro p {
    width: 800px;
}

.facts__container {
    display: flex;
    margin-bottom: 70px;
}

.facts h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 29px;
    margin-left: 6px;
}

.facts img {
    object-fit: contain;
    display: block;
    margin: 0;
    margin-right: 50px;
}

.facts p {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
   
}

.facts__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.logo {
    margin: 0 auto;
    width: 500px;
}

.linkdownload:hover {
    opacity: 0.7; 
    text-decoration: underline;
}

.updates {
    margin-bottom: 70px;

}

.updates__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.updates__item {
    width: 281px;
} 

.updates__item h3 {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

.updates__item p {
    text-align: center;
}

.fandom {
    margin-bottom: 70px;
}

.aboutfandom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0px;
}

.fandom img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 550px;
    margin: 0;
    margin-bottom: 40px;
    position: static;
}

.fandom__container {
    display: flex;
    justify-content: space-between;
}

.fandom h2 {
    display: block;
    margin: 0;
    margin-bottom: 15px;
}

.fandom p {
    display: block;
    width: 600px;
    margin: 0;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fandomlink {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    width: 270px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 10px; 
}

.fandomlink:hover {
    opacity: 0.7; 
}

.music img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 530px;
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    position: static;
}

.music {
    display: block;
    margin-bottom: 70px;
    margin: 0 auto;
    box-sizing: content-box;
    align-items: center;
}

.music__container {
    display: flex;
    justify-content: space-between;
}

.music__button {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    width: 250px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 10px;
}

.music__button:hover {
    opacity: 0.8;
}

.music h2 {
    margin: 0;
    margin-bottom: 40px;
}

.music p {
    display: block;
    width: 600px;
    margin: 0;
    margin-bottom: 20px;
}

.trailer {
    display: block;
}

.stuff {
    background-color: #080808;
}

.stuff img {
    margin: 0 auto;
    margin-top: 150px;
}

.stuff__item img {
    margin: 1px;
    border-radius: 50px;
}

.stuff__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stuff__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    padding: 130px;
    list-style-type: none;
    margin: 0;
}

.stuff__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
     width: 281px; 
}

.stuff__item img {
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 50px;
    
}

.stuff__item h3 {
    margin-top: 17px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

.stuff__item p {
     text-align: center;
     margin: 0;
}

.footer__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

footer {
    text-align: center;
    background-color: #080808;
    padding: 50px;
}

.footer__item svg {
    width: 30px;
}