@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*,
*::before, 
*::after {
    box-sizing: border-box;
}

h2 {
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

body {
    margin: 0;
}

a {
    text-decoration: none; 
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
    padding: 0 40px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.button {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    width: 270px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 10px; 
}

.button:hover {
    transform: scale(1.1);
}

h1 {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
}

.main {
    flex-grow: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer,
.header {
    flex-shrink: 0;
}

.visually-hidden { 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px; 
    padding: 0; 
    overflow: hidden; 
    white-space: nowrap; 
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(100%);
}

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav__list { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    margin-left: 80px;
    padding: 0;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.nav__link::before {
    content: "";
    position: absolute; 
    right: 0;
    left: 50%;
    bottom: -5px;
    background-color: #ffffff;
    width: 0;
    height: 1.5px;
    transform: translate(-50%, -50%);  
}

.nav__link:hover {
    opacity: 0.7; 
    /* border-bottom: 1px solid #ffffff; */
}

.nav__link:hover::before {
    width: 100%;
}

.nav__link--logo:hover {
    border-bottom: none;
}

.nav__link--current {
    color: rgb(168, 168, 168);
}

.nav__link--current:hover {
    opacity: 1;
    border-bottom: none;
}

.header {
    padding: 30px;
}

.logo {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 50px;
}

.intro {
    margin-bottom: 70px;
}

.main__logo {
    margin-bottom: 30px;
}

.intro p {
    width: 800px;
}

.facts__container {
    display: flex;
    margin-bottom: 70px;
}

.facts h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 29px;
    margin-left: 6px;
}

.facts img {
    object-fit: contain;
    display: block;
    margin: 0;
    margin-right: 50px;
}

.facts p {
    display: block;
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
   
}

.facts__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.linkdownload:hover {
    opacity: 0.7; 
    text-decoration: underline;
}

.updates {
    margin-bottom: 70px;

}

.updates__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.updates__item {
    width: 281px;
} 

.updates__item h3 {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

.updates__item p {
    text-align: center;
}

.fandom {
    margin-bottom: 70px;
}

.aboutfandom {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 0px;
}

.fandom img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 560px;
    margin: 0;
    margin-bottom: 40px;
    position: static;
}

.fandom__container {
    display: flex;
    justify-content: space-between;
}

.fandom h2 {
    display: block;
    margin: 0;
    margin-bottom: 15px;
}

.fandom p {
    display: block;
    width: 600px;
    margin: 0;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 50px;
}

.fandomlink:hover {
     transform: scale(1.1);
}

.music img {
    object-fit: contain;
    display: block;
    height: auto;
    width: 550px;
    display: flex;
    margin: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    position: static;
}

.music {
    display: block;
    margin-bottom: 70px;
    margin: 0 auto;
    box-sizing: content-box;
    align-items: center;
}

.music__container {
    display: flex;
    justify-content: space-between;
}

.music__button:hover {
    /* opacity: 0.8; */
    transform: scale(1.1);
}

.music h2 {
    margin: 0;
    margin-bottom: 40px;
}

.music p {
    display: block;
    width: 600px;
    margin: 0;
    margin-bottom: 20px;
}

.trailer {
    display: block;
}

.stuff {
    background-color: #080808;
}

.stuff img {
    margin: 0 auto;
    margin-top: 150px;
}

.stuff__item img {
    margin: 1px;
    border-radius: 50px;
}

.stuff__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stuff__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 120px;
    list-style-type: none;
    margin: 0;
}

.stuff__item {
    margin: 0;
    padding: 0;
    list-style-type: none;
     width: 281px; 
}

.stuff__item img {
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 50px;
    
}

.stuff__item h3 {
    margin-top: 17px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}

.stuff__item p {
     text-align: center;
     margin: 0;
}

.contacts {
    padding-bottom: 40px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contacts__item p:first-child {
    font-weight: 900;
}

.footer__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 110px;
    justify-content: space-between;
}

.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all 0.7s;
}

.footer__link svg {
    fill: #ffffff;
}

.footer__link:hover {
    transform: scale(1.4);
}

footer {
    text-align: center;
    background-color: #080808;
    padding: 50px;
}

.footer__item svg {
    width: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 20px;
    margin-bottom: 30px;
}

.form input {
    text-align: center;
    padding: 10px;
    width: 60%;
}

.form__checkbox {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    gap: 9px;
}

.form__checkboxmark {
    position: relative;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 4px
}

.form__checkboxmark::before {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 8px;
    background-image: url("img/svg/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.button__radiomark {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
}

.button__radiomark::before {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color:#000000;
    border-radius: 50%;
}

input[type="radio"]:checked + .button__radiomark::before {
    display: block;
}

.form__checkbox input:checked + .form__checkboxmark::before {
    display: block;
}

